#soundcloudscrobbler .top-right {
    position: fixed;
    right: 5px;
    top: 53px;
    z-index: 999;
}
#soundcloudscrobbler .scrobble-label,
#soundcloudscrobbler .info {
    padding: 10px;
    border-radius: 3px;
}
#soundcloudscrobbler .scrobble-label {
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.1);
    background-color: #FAFAFA;
    border: 1px solid #DFDFDF;
    border-bottom: 1px solid #CCC;
    z-index: 1;
}
#soundcloudscrobbler .scrobble-label strong {
    font-weight: bold;
}

#soundcloudscrobbler .scrobble-label.sub-label  {
    margin-top: 5px;
}

#soundcloudscrobbler .info {
    overflow: hidden;
    right: 11px;
    width: 88px;
    z-index: 2;
    top: 92px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #FFF;
    border-radius: 0 0 3px 3px;
    margin-left: 5px;
} 

#soundcloudscrobbler .info-icon {
    width: 14px;
    height: 14px;
    background-image:url('chrome-extension://__MSG_@@extension_id__/info-icon.png');
    display: inline-block;
    background-position: top;
    margin-bottom: -3px;
    margin-left: 2px;
    cursor: pointer;
}
#soundcloudscrobbler .info-icon:hover {
    background-position: bottom;
}

#soundcloudscrobbler table td, #soundcloudscrobbler table th {
	line-height:14px;
	background-color:#e5e5e5;
	padding:3px 5px;
	text-align:left;
	cursor:default;
}
#soundcloudscrobbler table tr:nth-child(even) td, #soundcloudscrobbler table tr:nth-child(even) th {
	background-color:#eee;
}
#soundcloudscrobbler table th {
	font-weight:bold;
}
