#soundcloudscrobbler .scrobble-label,
#soundcloudscrobbler .info {
    position: fixed;
    right: 5px;
    top: 53px;
    padding: 10px;
    border: 1px solid #DFDFDF;
    background-color: #FAFAFA;
    border-radius: 3px;
    border-bottom: 1px solid #CCC;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.1);
    z-index:2;
}
#soundcloudscrobbler .scrobble-label strong {
    font-weight: bold;
}

#soundcloudscrobbler .info {
    overflow: hidden;
    right: 11px;
    width: 88px;
    padding-top: 15px;
    z-index:1;
    top: 92px;
    cursor: pointer;
    color: #8B8B8B;
} 
