* {
    margin:0;
    padding:0;
}
body {
    background-color:#c7c7c7;
    font-family: arial;
    font-size:16px;
    color:#333;
}
#wrapper {
	box-shadow: 0 1px 8px #555;
    margin: 20px auto;
    width:480px;
    border: 1px solid #ccc;
    background-color:#fff;
    padding:20px;
}
#logo {
	margin: 40px auto 0 auto;
	width:520px;
	height:73px;
	background-image:url("logo.png");
}
a {
	color: white;
	background-color: #FE3E05;
	padding: 2px 5px;
	text-decoration: none;
}
a:hover {
	color: #FE3E05;
	background-color: transparent;
}
#logout {
	float: right;
}
form br, br.clear {
    clear:both;
}
label {
    width:180px;
    float:left;
    line-height:30px;
}
input {
    width:300px;
    float:left;
    line-height:20px;
    margin-bottom: 5px;
    margin-top:3px;
    border-radius:3px;
    border:1px solid #888;
    font-size:16px;
    
}
button {
    float:right;
    padding:3px 5px;
    font-size:16px;
    margin-top:10px;
    margin-left:10px;
    cursor:pointer;
}
button.cancel {
    opacity:0.5;
}
button.cancel:hover {
    opacity:1;
}
form p {
    font-size: 13px;
    margin-left: 180px;
}
h1 {
    font-size: 27px;
    margin-bottom:20px;
}
#status {
    background-color: #FFF5C5;
    padding: 3px;
    font-size: 14px;
    margin-bottom: 8px;
    display:none;
}